body{
    background-color: #22825f;
    font-family: courier;
    color: white;
}

.name_of_objects{
    background-color: #fff675;
    color: black;
}

#capturebtn, #identifybtn{
    color: black;
}